name: Server Logs
on:
  workflow_dispatch:

jobs:

  build:
    name: View Logs
    runs-on: ubuntu-latest
    steps:
    - name: Get The Logs
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        key: ${{ secrets.SSH_KEY }}
        passphrase: ${{ secrets.SSH_PASSPHRASE }}
        port: ${{ secrets.SSH_PORT }}
        username: ${{ secrets.SSH_USERNAME }}
        script: |
            cd /webapps/khokha_entry_backend
            docker-compose -f docker-compose.prod.yml logs --tail=1000